#mainbody{
	margin-top: 2px;
	background-color: grey;
	height: 1500px;
	width: 100%;
    border:1px solid;
	position: absolute;
	left: 0px;
}
#mainbody{
	color:black;

}

#main1{
	background-color: white;
	position: relative;
	top:50px;
	left: 30px;
	height: 1000px;
	width: 1400px;
	padding: 20px 20px 20px 20px ;
	box-sizing: border-box;
	border: 1px solid;
	box-shadow: 5px 10px black;
	color:black;
	
}
#main1 span,p{
	
	font-size: 20px;
    color: black;
    
}