#mainbody{
	margin-top: 2px;
	background-color: grey;
	height: 2000px;
	width: 100%;
    border:1px solid;
	position: absolute;
	left: 0px;
}
#mainbody{
	color:black;

}

#main1{
	background-color: white;
	position: relative;
	top:50px;
	left: 30px;
	height: 1500px;
	width: 1450px;
	padding: 10px 10px 10px 10px ;
	box-sizing: border-box;
	border: 1px solid;
	box-shadow: 5px 10px black;
	color:black;
	
}
#main1 h1{
	font-size: 80px;
	color: red;
	text-decoration: underline;
	text-shadow: 2px 2px black;
}
#main1 span,p{

	
	font-size: 40px;
    color: blue;
    
}
